click==8.0.4
colorama==0.4.4
Flask==2.0.3
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.2
pandas==1.4.1
py-lets-be-rational==1.0.1
py-vollib==1.0.1
pywin32==303
QuantLib==1.25
scipy==1.8.0
simplejson==3.17.6
six==1.16.0
Werkzeug==2.0.3

